{% extends 'base.html.twig' %}

{% block title %}{{attraction.title}}{% endblock %}

{% block body %}
<div class="container attraction-container">
    <div class="row  align-center">
        <div class="col-md-5">
            <img class="attraction-image" src="/uploads/{{attraction.image}}" alt="{{attraction.title}}" class="img-fluid" />
            <div class="star-rating">
                <span class="fa fa-star-o" data-rating="1"></span>
                <span class="fa fa-star-o" data-rating="2"></span>
                <span class="fa fa-star-o" data-rating="3"></span>
                <span class="fa fa-star-o" data-rating="4"></span>
                <span class="fa fa-star-o" data-rating="5"></span>
                <input type="hidden" name="whatever{{attraction.id}}" class="rating-value" value={{attraction.rate}}>
            </div> 
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{attraction.title}}</h3>
            <hr>
            <p class="product-description text-justify">{{attraction.description}}</p>
        </div>
    </div>
    <div class="container">
    <h1>Create new Rate</h1>
    {{ include('rate/_form.html.twig') }}
    </div>
</div>
{% endblock %}