<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">
    <title>{% block title %}Welcome to our Park !{% endblock %}</title>

    <link rel="shortcut icon" href="{{ asset('assets/images/gt_favicon.png') }}">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">

    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-theme.css') }}" media="screen">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">

    <link rel="stylesheet" href="{{ asset('assets/css/main.css')}}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body class="home">

     

    <!-- Header -->
    <div class="menu">
        <div class="menuMobile">
            <div class="toggleMenu">
                <img src={{ asset('assets/images/menuMobile.svg') }} />
                <div class="navMobile">
                    <div class="menuItem"><a href="{{ path('home')}}">Accueil</a></div>
                    <div class="menuItem"><a href="{{ path('about')}}">A propos</a></div>
                    <div class="menuItem"><a href="{{ path('attractions')}}">Attractions</a></div>
                    <div class="menuItem"><a href="{{ path('booking_new')}}">Réserver</a></div>
                    <div class="menuItem"><a href="contact.html">Contact</a></div>
                </div>
            </div>
        </div>
        
        <div class="logo">
            <a href="{{ path('home')}}"><svg xmlns="http://www.w3.org/2000/svg" width="232" height="115" viewBox="0 0 232 115">
                <g id="Groupe_7" data-name="Groupe 7" transform="translate(627 -19)">
                    <text id="Le_Jardin_des_Délices" data-name="Le Jardin
                des Délices" transform="translate(-511 71)" fill="#fff" font-size="30" font-family="SketchGothicSchool, Sketch Gothic School"><tspan x="-95.979" y="0">Le</tspan><tspan y="0" xml:space="preserve" font-size="62"> Jardin</tspan><tspan font-size="62"><tspan x="-115.66" y="50">des Délices</tspan></tspan></text>
                </g>
            </svg></a>
        </div>
        <div class="nav">
            <div class="menuItem"><a href="{{ path('about')}}">A propos</a></div>
            <div class="menuItem"><a href="{{ path('attractions')}}">Attractions</a></div>
            <div class="menuItem"><a href="{{ path('booking_new')}}">Réserver</a></div>
            <div class="menuItem"><a href="contact.html">Contact</a></div>
        </div>
        <div class="login">
        {% if app.user %}
            <div class="dropdown"><span>Mon compte<b class="caret"></b></span>
                <div class="dropdown-content">
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="dropdown-item" href="/admin">Admin</a></div>
                    {% endif %} 
                    <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                    <a class="dropdown-item" href="{{ path('account') }}">Mes infos</a>
                    <a class="dropdown-item" href="{{ path('account_bookings', { 'id':app.user.id }) }}">Mes réservations</a>
                </div>
            </div>
        {% else %}
            <div class="dropdown"><span>Inscription / Connexion<b class="caret"></b></span>
                <div class="dropdown-content">
                    <a class="dropdown-item" href="{{ path('app_login') }}">Se connecter</a>
                    <a class="dropdown-item" href="{{ path('user_new') }}">S'inscrire</a>
                </div>
            </div>
        {% endif %}
        </div>
    </div>
    <div class="header">
        <img src={{ asset('assets/images/header@2x.png') }} />
    </div>
    <!-- /Header -->
    
            {% block body %} {% endblock %}

        


    <!-- Social links. @TODO: replace by link/instructions in template -->
    <section id="social">
        <div class="container">
            <div class="wrapper clearfix">
                <!-- AddThis Button BEGIN -->
                <div class="addthis_toolbox addthis_default_style">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                    <a class="addthis_button_tweet"></a>
                    <a class="addthis_button_linkedin_counter"></a>
                    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
                </div>
                <!-- AddThis Button END -->
            </div>
        </div>
    </section>
    <!-- /social links -->


    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-body">
                            <p>+234 23 9873237<br>
                                <a href="mailto:#">some.email@somewhere.com</a><br>
                                <br>
                                234 Hidden Pond Road, Ashland City, TN 37015
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Follow me</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                <a href=""><i class="fa fa-github fa-2"></i></a>
                                <a href=""><i class="fa fa-facebook fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <h3 class="widget-title">Text widget</h3>
                        <div class="widget-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam
                                architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque
                                voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad
                                id expedita cupiditate repellendus possimus unde?</p>
                            <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat
                                provident assumenda labore soluta minima alias temporibus facere distinctio quas
                                adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate
                                reprehenderit architecto sint libero illo et hic.</p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>
        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="#">Home</a> |
                                <a href="about.html">About</a> |
                                <a href="sidebar-right.html">Sidebar</a> |
                                <a href="contact.html">Contact</a> |
                                <b><a href="signup.html">Sign up</a></b>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright &copy; 2014, Your name. Designed by <a href="http://gettemplate.com/"
                                    rel="designer">gettemplate</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>





    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    {% block javascripts %}
    <script type="text/javascript" src={{ asset('assets/js/bootstrap-datepicker.js') }}></script>
    
    <script type="text/javascript" src={{ asset('assets/js/bootstrap-datepicker.min.js') }}></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">

    
        jQuery(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                maxViewMode: 2,
                starDate:"+1d",
                todayBtn:"linked",
                language:"fr",
                todayHighlight: true


            });
        });

        

    var $star_rating = $('.star-rating .fa');

    var SetRatingStar = function() {
    return $star_rating.each(function() {
        if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
        return $(this).removeClass('fa-star-o').addClass('fa-star');
        } else {
        return $(this).removeClass('fa-star').addClass('fa-star-o');
        }
    });
    };

    SetRatingStar();
    $(document).ready(function() {

    });
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/js/headroom.min.js')}}"></script>
    <script src="{{ asset('assets/js/jQuery.headroom.min.js') }}"></script>
    <script src="{{ asset('assets/js/template.js')}}"></script>
    {% endblock %}
</body>

</html>